/* line 4, ../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.4/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
html, body { margin: 0; padding: 0; border: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; }

/* line 12, ../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.4/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, pre, a, abbr, acronym, address, code, del, dfn, em, img, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tbody, tfoot, thead, tr { margin: 0; padding: 0; border: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; }

/* line 16, ../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.4/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
blockquote, q { margin: 0; padding: 0; border: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; quotes: "" ""; }
/* line 42, ../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.4/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
blockquote:before, q:before, blockquote:after, q:after { content: ""; }

/* line 18, ../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.4/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
th, td, caption { margin: 0; padding: 0; border: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; text-align: left; font-weight: normal; vertical-align: middle; }

/* line 20, ../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.4/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
table { margin: 0; padding: 0; border: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; border-collapse: separate; border-spacing: 0; vertical-align: middle; }

/* line 22, ../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.4/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
a img { border: none; }

/* line 21, ../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.4/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
body { line-height: 1.5; font-family: Helvetica Neue, Arial, Helvetica, sans-serif; color: #333333; font-size: 75%; }

/* line 52, ../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.4/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
h1 { font-weight: normal; color: #222222; font-size: 3em; line-height: 1; margin-bottom: 0.5em; }
/* line 57, ../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.4/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
h1 img { margin: 0; }

/* line 59, ../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.4/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
h2 { font-weight: normal; color: #222222; font-size: 2em; margin-bottom: 0.75em; }

/* line 63, ../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.4/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
h3 { font-weight: normal; color: #222222; font-size: 1.5em; line-height: 1; margin-bottom: 1em; }

/* line 68, ../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.4/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
h4 { font-weight: normal; color: #222222; font-size: 1.2em; line-height: 1.25; margin-bottom: 1.25em; }

/* line 73, ../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.4/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
h5 { font-weight: normal; color: #222222; font-size: 1em; font-weight: bold; margin-bottom: 1.5em; }

/* line 78, ../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.4/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
h6 { font-weight: normal; color: #222222; font-size: 1em; font-weight: bold; }

/* line 82, ../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.4/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
h2 img, h3 img, h4 img, h5 img, h6 img { margin: 0; }

/* line 84, ../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.4/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
p { margin: 0 0 1.5em; }
/* line 86, ../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.4/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
p img.left { display: inline; float: left; margin: 1.5em 1.5em 1.5em 0; padding: 0; }
/* line 90, ../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.4/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
p img.right { display: inline; float: right; margin: 1.5em 0 1.5em 1.5em; padding: 0; }

/* line 94, ../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.4/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
a { text-decoration: underline; color: #000099; }
/* line 12, ../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.4/frameworks/compass/stylesheets/compass/utilities/links/_link_colors.sass */
a:visited { color: #000066; }
/* line 15, ../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.4/frameworks/compass/stylesheets/compass/utilities/links/_link_colors.sass */
a:focus { color: black; }
/* line 18, ../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.4/frameworks/compass/stylesheets/compass/utilities/links/_link_colors.sass */
a:hover { color: black; }
/* line 21, ../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.4/frameworks/compass/stylesheets/compass/utilities/links/_link_colors.sass */
a:active { color: #cc0099; }

/* line 97, ../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.4/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
blockquote { margin: 1.5em; color: #666; font-style: italic; }

/* line 101, ../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.4/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
strong { font-weight: bold; }

/* line 103, ../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.4/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
em { font-style: italic; }

/* line 105, ../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.4/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
dfn { font-style: italic; font-weight: bold; }

/* line 108, ../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.4/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
sup, sub { line-height: 0; }

/* line 110, ../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.4/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
abbr, acronym { border-bottom: 1px dotted #666; }

/* line 112, ../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.4/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
address { margin: 0 0 1.5em; font-style: italic; }

/* line 115, ../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.4/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
del { color: #666; }

/* line 117, ../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.4/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
pre { margin: 1.5em 0; white-space: pre; }

/* line 120, ../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.4/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
pre, code, tt { font: 1em 'andale mono', 'lucida console', monospace; line-height: 1.5; }

/* line 122, ../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.4/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
li ul, li ol { margin: 0 1.5em; }

/* line 124, ../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.4/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
ul { margin: 0 1.5em 1.5em 1.5em; list-style-type: disc; }

/* line 127, ../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.4/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
ol { margin: 0 1.5em 1.5em 1.5em; list-style-type: decimal; }

/* line 130, ../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.4/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
dl { margin: 0 0 1.5em 0; }
/* line 132, ../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.4/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
dl dt { font-weight: bold; }

/* line 134, ../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.4/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
dd { margin-left: 1.5em; }

/* line 136, ../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.4/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
table { margin-bottom: 1.4em; width: 100%; }

/* line 139, ../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.4/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
th { font-weight: bold; }

/* line 141, ../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.4/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
thead th { background: #c3d9ff; }

/* line 143, ../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.4/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
th, td, caption { padding: 4px 10px 4px 5px; }

/* line 145, ../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.4/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
tr.even td { background: #e5ecf9; }

/* line 147, ../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.4/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
tfoot { font-style: italic; }

/* line 149, ../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.4/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
caption { background: #eee; }

/* line 151, ../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.4/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
.quiet { color: #666666; }

/* line 153, ../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.4/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
.loud { color: #111111; }

/* line 7, ../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.4/frameworks/blueprint/stylesheets/blueprint/modules/_debug.sass */
.showgrid { background: url(/images/grid.png); }

/* line 18, ../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.4/frameworks/blueprint/stylesheets/blueprint/modules/_scaffolding.sass */
body { margin: 1.5em 0; }

/* line 35, ../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.4/frameworks/blueprint/stylesheets/blueprint/modules/_scaffolding.sass */
.box { padding: 1.5em; margin-bottom: 1.5em; background: #E5ECF9; }

/* line 38, ../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.4/frameworks/blueprint/stylesheets/blueprint/modules/_scaffolding.sass */
div.border { padding-right: 4px; margin-right: 5px; border-right: 1px solid #eee; }

/* line 41, ../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.4/frameworks/blueprint/stylesheets/blueprint/modules/_scaffolding.sass */
div.colborder { padding-right: 24px; margin-right: 25px; border-right: 1px solid #eee; }

/* line 43, ../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.4/frameworks/blueprint/stylesheets/blueprint/modules/_scaffolding.sass */
hr { background: #ddd; color: #ddd; clear: both; float: none; width: 100%; height: .1em; margin: 0 0 1.45em; border: none; }

/* line 45, ../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.4/frameworks/blueprint/stylesheets/blueprint/modules/_scaffolding.sass */
hr.space { background: #ddd; color: #ddd; clear: both; float: none; width: 100%; height: .1em; margin: 0 0 1.45em; border: none; background: #fff; color: #fff; }

/* line 43, ../../../app/stylesheets/screen.sass */
h1 { line-height: 70px; }

/* line 46, ../../../app/stylesheets/screen.sass */
.errorExplanation { font: normal 18px Trebuchet MS; }
/* line 49, ../../../app/stylesheets/screen.sass */
.errorExplanation ul { display: inline; float: left; margin-right: 0; width: 630px; margin: 0px; padding: 0px; margin-bottom: 20px; }
/* line 97, ../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.4/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
* html .errorExplanation ul { overflow-x: hidden; }
/* line 54, ../../../app/stylesheets/screen.sass */
.errorExplanation li { height: 70px; background: url("/images/backgrounds/bg.warning.png") 5px center no-repeat transparent; color: #ffb400; list-style: none; padding: 10px; padding-left: 100px; padding-top: 30px; }

/* line 63, ../../../app/stylesheets/screen.sass */
.textfield { font: bold 24px Trebuchet MS; color: #000; width: 431px; height: 56px; border: 0px; background: url("/images/buttons/textfield.png") top left no-repeat transparent; padding: 10px; padding-top: 15px; }

/* line 73, ../../../app/stylesheets/screen.sass */
.textarea { font: normal 24px Trebuchet MS; color: #000; width: 630px; height: 200px; border: 0px; padding: 10px; background: url("/images/buttons/textarea.png") top left no-repeat transparent; }

/* line 82, ../../../app/stylesheets/screen.sass */
.field_item { display: inline; float: left; margin-right: 0; width: 630px; }
/* line 97, ../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.4/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
* html .field_item { overflow-x: hidden; }
/* line 84, ../../../app/stylesheets/screen.sass */
.field_item .label { display: inline; float: left; margin-right: 10px; width: 190px; }
/* line 97, ../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.4/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
* html .field_item .label { overflow-x: hidden; }
/* line 86, ../../../app/stylesheets/screen.sass */
.field_item .field { display: inline; float: left; margin-right: 0; width: 430px; }
/* line 97, ../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.4/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
* html .field_item .field { overflow-x: hidden; }

/* line 89, ../../../app/stylesheets/screen.sass */
.field_area { display: inline; float: left; margin-right: 0; width: 630px; }
/* line 97, ../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.4/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
* html .field_area { overflow-x: hidden; }
/* line 91, ../../../app/stylesheets/screen.sass */
.field_area .label { display: block; }
/* line 93, ../../../app/stylesheets/screen.sass */
.field_area .field { display: block; }

/* line 96, ../../../app/stylesheets/screen.sass */
.submit_item { display: inline; float: left; margin-right: 0; width: 630px; }
/* line 97, ../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.4/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
* html .submit_item { overflow-x: hidden; }
/* line 98, ../../../app/stylesheets/screen.sass */
.submit_item .label { display: inline; float: left; margin-right: 10px; width: 310px; }
/* line 97, ../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.4/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
* html .submit_item .label { overflow-x: hidden; }
/* line 100, ../../../app/stylesheets/screen.sass */
.submit_item .field { display: inline; float: left; margin-right: 0; width: 310px; }
/* line 97, ../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.4/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
* html .submit_item .field { overflow-x: hidden; }

/* line 103, ../../../app/stylesheets/screen.sass */
form hr { display: inline; float: left; margin-right: 0; width: 630px; padding: 0px; margin: 0px; }
/* line 97, ../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.4/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
* html form hr { overflow-x: hidden; }

/* line 108, ../../../app/stylesheets/screen.sass */
.label { margin-bottom: 10px; }
/* line 109, ../../../app/stylesheets/screen.sass */
.label label { display: block; font: bold 18px Trebuchet MS; color: #000; }
/* line 113, ../../../app/stylesheets/screen.sass */
.label small { display: block; font: normal 18px Trebuchet MS; color: #000; background-image: url("/images/buttons/btn.arrow.png"); background-position: 0px center; background-repeat: no-repeat; background-color: transparent; }

/* line 122, ../../../app/stylesheets/screen.sass */
.tab { border-left: 1px solid #DDD; padding-left: 10px; margin-top: 20px; }

/* line 125, ../../../app/stylesheets/screen.sass */
.arrow { background-image: url("/images/buttons/btn.arrow.png"); background-position: 0px center; background-repeat: no-repeat; background-color: transparent; padding-left: 20px; line-height: 24px; height: 24px; position: relative; white-space: nowrap; display: block; text-decoration: none; font-weight: bold; font-size: 24px; color: #000; background-position: 0px center; padding-left: 20px; padding-right: 5px; }

/* line 131, ../../../app/stylesheets/screen.sass */
.arrow:hover { background-position: 5px center; padding-left: 25px; padding-right: 0px; filter: alpha(opacity=!arg*100); opacity: 0.5; -moz-opacity: 0.5; }

/* line 137, ../../../app/stylesheets/screen.sass */
hr { border: 0; border-bottom: 1px solid #ddd; height: 1px; display: block; padding-top: 10px; padding-bottom: 10px; clear: both; background: transparent; }

/* line 147, ../../../app/stylesheets/screen.sass */
body { margin: 0px; padding: 0px; min-width: 950px; font-family: "Trebuchet MS"; }

/* line 153, ../../../app/stylesheets/screen.sass */
div { text-align: left; }

/* line 156, ../../../app/stylesheets/screen.sass */
#reference_item_info { display: inline; float: left; margin-right: 10px; width: 310px; }
/* line 97, ../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.4/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
* html #reference_item_info { overflow-x: hidden; }

/* line 159, ../../../app/stylesheets/screen.sass */
#reference_item_img { display: inline; float: left; margin-right: 0; width: 310px; overflow: visible; }
/* line 97, ../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.4/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
* html #reference_item_img { overflow-x: hidden; }

/* line 163, ../../../app/stylesheets/screen.sass */
#branding-container { width: 950px; margin: 0 auto; overflow: hidden; display: inline-block; }
/* line 5, ../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.4/frameworks/compass/stylesheets/compass/utilities/general/_hacks.sass */
#branding-container { display: block; }

/* line 166, ../../../app/stylesheets/screen.sass */
.on a, #header #menu a:hover { height: 80px; display: block; text-decoration: none; background: url("/images/buttons/btn.menu.png") bottom center no-repeat transparent; }

/* line 172, ../../../app/stylesheets/screen.sass */
#header #menu a:hover { filter: alpha(opacity=!arg*100); opacity: 0.5; -moz-opacity: 0.5; }

/* line 175, ../../../app/stylesheets/screen.sass */
#header { position: relative; display: inline; float: left; margin-right: 10px; width: 950px; }
/* line 97, ../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.4/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
* html #header { overflow-x: hidden; }
/* line 178, ../../../app/stylesheets/screen.sass */
#header #menu { margin: 0; padding: 0; border: 0; overflow: hidden; display: inline-block; position: absolute; top: 1em; right: 0px; margin-top: 1em; }
/* line 5, ../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.4/frameworks/compass/stylesheets/compass/utilities/general/_hacks.sass */
#header #menu { display: block; }
/* line 10, ../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.4/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal_list.sass */
#header #menu li { list-style-type: none; margin-left: 0px; white-space: nowrap; display: inline; float: left; padding-left: 4px; padding-right: 4px; }
/* line 17, ../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.4/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal_list.sass */
#header #menu li.first { padding-left: 0px; }
/* line 19, ../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.4/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal_list.sass */
#header #menu li.last { padding-right: 0px; }
/* line 184, ../../../app/stylesheets/screen.sass */
#header #menu li { border-left: 1px solid #DDDDDD; line-height: 80px; height: 80px; font-size: 1.5em; font-weight: bold; color: #000; padding-left: 5px; }
/* line 192, ../../../app/stylesheets/screen.sass */
#header #menu li a { color: #000; }
/* line 194, ../../../app/stylesheets/screen.sass */
#header #menu li img { position: relative; top: 10px; }
/* line 197, ../../../app/stylesheets/screen.sass */
#header h1 { text-indent: -9999em; overflow: hidden; background-image: url(/images/logos/logo.smile-effect.midi.png); background-repeat: no-repeat; background-position: 50% 50%; width: 355px; height: 100px; }
/* line 201, ../../../app/stylesheets/screen.sass */
#header a { text-decoration: none; }
/* line 4, ../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.4/frameworks/compass/stylesheets/compass/utilities/links/_hover_link.sass */
#header a:hover { text-decoration: underline; }

/* line 203, ../../../app/stylesheets/screen.sass */
#calculator { display: inline; float: left; margin-right: 0; width: 590px; }
/* line 97, ../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.4/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
* html #calculator { overflow-x: hidden; }
/* line 206, ../../../app/stylesheets/screen.sass */
#calculator table { width: 100%; }
/* line 2, ../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.4/frameworks/compass/stylesheets/compass/utilities/tables/_alternating_rows_and_columns.sass */
#calculator table th { background-color: white; }
/* line 4, ../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.4/frameworks/compass/stylesheets/compass/utilities/tables/_alternating_rows_and_columns.sass */
#calculator table th.even { background-color: black; }
/* line 7, ../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.4/frameworks/compass/stylesheets/compass/utilities/tables/_alternating_rows_and_columns.sass */
#calculator table tr.odd td { background-color: white; }
/* line 9, ../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.4/frameworks/compass/stylesheets/compass/utilities/tables/_alternating_rows_and_columns.sass */
#calculator table tr.odd td.even { background-color: black; }
/* line 12, ../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.4/frameworks/compass/stylesheets/compass/utilities/tables/_alternating_rows_and_columns.sass */
#calculator table tr.even td { background-color: #eeeeee; }
/* line 14, ../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.4/frameworks/compass/stylesheets/compass/utilities/tables/_alternating_rows_and_columns.sass */
#calculator table tr.even td.even { background-color: black; }
/* line 17, ../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.4/frameworks/compass/stylesheets/compass/utilities/tables/_alternating_rows_and_columns.sass */
#calculator table tfoot th, #calculator table tfoot td { background-color: white; background-color: black; }

/* line 211, ../../../app/stylesheets/screen.sass */
#teaser { display: inline; float: left; margin-right: 10px; width: 950px; position: relative; }
/* line 97, ../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.4/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
* html #teaser { overflow-x: hidden; }
/* line 215, ../../../app/stylesheets/screen.sass */
#teaser a img { padding: 0px; width: 320px; height: 300px; }
/* line 219, ../../../app/stylesheets/screen.sass */
#teaser a:hover { filter: alpha(opacity=!arg*100); opacity: 0.9; -moz-opacity: 0.9; }
/* line 221, ../../../app/stylesheets/screen.sass */
#teaser a:hover img { padding: 1px; width: 318px; height: 298px; }
/* line 226, ../../../app/stylesheets/screen.sass */
#teaser #teaser_img { display: inline; float: left; margin-right: 0; width: 630px; }
/* line 97, ../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.4/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
* html #teaser #teaser_img { overflow-x: hidden; }
/* line 229, ../../../app/stylesheets/screen.sass */
#teaser #teaserleft { display: inline; float: left; margin-right: 10px; width: 310px; }
/* line 97, ../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.4/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
* html #teaser #teaserleft { overflow-x: hidden; }
/* line 231, ../../../app/stylesheets/screen.sass */
#teaser #teasercenter { display: inline; float: left; margin-right: 10px; width: 310px; }
/* line 97, ../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.4/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
* html #teaser #teasercenter { overflow-x: hidden; }
/* line 233, ../../../app/stylesheets/screen.sass */
#teaser #teaserright { display: inline; float: left; margin-right: 0; width: 310px; }
/* line 97, ../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.4/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
* html #teaser #teaserright { overflow-x: hidden; }
/* line 236, ../../../app/stylesheets/screen.sass */
#teaser #teaser_img { position: relative; }

/* line 239, ../../../app/stylesheets/screen.sass */
#content { display: inline; float: left; margin-right: 10px; width: 950px; font-size: 1.2em; color: #000; }
/* line 97, ../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.4/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
* html #content { overflow-x: hidden; }
/* line 243, ../../../app/stylesheets/screen.sass */
#content a { color: #000; }
/* line 245, ../../../app/stylesheets/screen.sass */
#content h1 { font-weight: bold; font-size: 3em; }
/* line 248, ../../../app/stylesheets/screen.sass */
#content h3 { font-weight: normal; font-size: 1.8em; color: #000; }

/* line 253, ../../../app/stylesheets/screen.sass */
#content_2_3 { display: inline; float: left; margin-right: 0; width: 630px; }
/* line 97, ../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.4/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
* html #content_2_3 { overflow-x: hidden; }

/* line 256, ../../../app/stylesheets/screen.sass */
#content_1_3 { display: inline; float: left; margin-right: 10px; width: 310px; }
/* line 97, ../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.4/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
* html #content_1_3 { overflow-x: hidden; }

/* line 259, ../../../app/stylesheets/screen.sass */
#contentleft { display: inline; float: left; margin-right: 10px; width: 310px; }
/* line 97, ../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.4/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
* html #contentleft { overflow-x: hidden; }

/* line 262, ../../../app/stylesheets/screen.sass */
#contentcenter { display: inline; float: left; margin-right: 10px; width: 310px; }
/* line 97, ../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.4/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
* html #contentcenter { overflow-x: hidden; }

/* line 265, ../../../app/stylesheets/screen.sass */
#contentright { display: inline; float: left; margin-right: 0; width: 310px; }
/* line 97, ../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.4/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
* html #contentright { overflow-x: hidden; }

/* line 268, ../../../app/stylesheets/screen.sass */
#monitorcontent { display: inline; float: left; margin-right: 0; width: 950px; }
/* line 97, ../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.4/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
* html #monitorcontent { overflow-x: hidden; }

/* line 271, ../../../app/stylesheets/screen.sass */
#footer_background { background: url("/images/backgrounds/bg.gray.gif") #000000; color: #FFF; }
/* line 274, ../../../app/stylesheets/screen.sass */
#footer_background a { color: #FFF; text-decoration: none; }
/* line 277, ../../../app/stylesheets/screen.sass */
#footer_background a:hover { text-decoration: underline; filter: alpha(opacity=!arg*100); opacity: 0.5; -moz-opacity: 0.5; }

/* line 280, ../../../app/stylesheets/screen.sass */
#footer_shine { background: url("/images/backgrounds/shine.png") top left no-repeat transparent; }

/* line 283, ../../../app/stylesheets/screen.sass */
#footer { display: inline; float: left; margin-right: 10px; width: 950px; font-size: 1em; padding-top: 20px; padding-bottom: 20px; }
/* line 97, ../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.4/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
* html #footer { overflow-x: hidden; }

/* line 289, ../../../app/stylesheets/screen.sass */
#footercontentleft { display: inline; float: left; margin-right: 10px; width: 310px; position: relative; }
/* line 97, ../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.4/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
* html #footercontentleft { overflow-x: hidden; }

/* line 293, ../../../app/stylesheets/screen.sass */
#footercontentcenter { display: inline; float: left; margin-right: 10px; width: 310px; position: relative; }
/* line 97, ../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.4/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
* html #footercontentcenter { overflow-x: hidden; }

/* line 297, ../../../app/stylesheets/screen.sass */
#footercontentright { display: inline; float: left; margin-right: 0; width: 310px; position: relative; }
/* line 97, ../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.4/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
* html #footercontentright { overflow-x: hidden; }

/* line 301, ../../../app/stylesheets/screen.sass */
#copyright_background { background-color: #000000; color: #FFF; }
/* line 304, ../../../app/stylesheets/screen.sass */
#copyright_background a { color: #FFF; text-decoration: none; }
/* line 307, ../../../app/stylesheets/screen.sass */
#copyright_background a:hover { text-decoration: underline; filter: alpha(opacity=!arg*100); opacity: 0.5; -moz-opacity: 0.5; }

/* line 311, ../../../app/stylesheets/screen.sass */
#copyright { display: inline; float: left; margin-right: 10px; width: 950px; font-size: 1em; padding-top: 15px; padding-bottom: 10px; }
/* line 97, ../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.4/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
* html #copyright { overflow-x: hidden; }

/* line 316, ../../../app/stylesheets/screen.sass */
#copyright_a { display: inline; float: left; margin-right: 10px; width: 110px; }
/* line 97, ../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.4/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
* html #copyright_a { overflow-x: hidden; }

/* line 318, ../../../app/stylesheets/screen.sass */
#copyright_b { display: inline; float: left; margin-right: 10px; width: 270px; }
/* line 97, ../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.4/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
* html #copyright_b { overflow-x: hidden; }

/* line 320, ../../../app/stylesheets/screen.sass */
#copyright_c { display: inline; float: left; margin-right: 10px; width: 390px; }
/* line 97, ../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.4/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
* html #copyright_c { overflow-x: hidden; }

/* line 322, ../../../app/stylesheets/screen.sass */
#copyright_d { display: inline; float: left; margin-right: 0; width: 110px; }
/* line 97, ../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.4/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
* html #copyright_d { overflow-x: hidden; }

/* line 325, ../../../app/stylesheets/screen.sass */
#branding-container.view_all { overflow: visible; }

/* line 328, ../../../app/stylesheets/screen.sass */
.img_spacer { float: left; }

/* line 332, ../../../app/stylesheets/screen.sass */
.theme_marketing h1 { color: #D16414; }

/* line 335, ../../../app/stylesheets/screen.sass */
.theme_web h1 { color: #3ABD1C; }

/* line 338, ../../../app/stylesheets/screen.sass */
.theme_design h1 { color: #12A8D3; }

/* line 341, ../../../app/stylesheets/screen.sass */
#item_event { display: block; padding: 0px; margin: 0px; text-decoration: none; width: 300px; background: url("/images/buttons/btn.arrow.png"); background-position: -20px center; background-repeat: no-repeat; background-color: transparent; padding-left: 0px; padding-right: 5px; }

/* line 354, ../../../app/stylesheets/screen.sass */
#item_event.next { background-position: 270px center; }

/* line 357, ../../../app/stylesheets/screen.sass */
#item_event:hover { background-position: 275px center; filter: alpha(opacity=!arg*100); opacity: 0.5; -moz-opacity: 0.5; padding-left: 5px; padding-right: 0px; }

/* line 363, ../../../app/stylesheets/screen.sass */
#item_date { float: left; width: 41px; height: 41px; padding: 0px; margin: 0px; background: url("/images/buttons/btn.date.png") left top no-repeat transparent; }

/* line 371, ../../../app/stylesheets/screen.sass */
#item_date_day { color: #000000; position: relative; top: -3px; width: 41px; height: 20px; padding: 0px; margin: 0px; text-align: center; font: normal 20px arial black; }

/* line 382, ../../../app/stylesheets/screen.sass */
#item_date_month { color: #fff; position: relative; top: 4px; width: 41px; height: 10px; padding: 0px; margin: 0px; text-align: center; font: normal 9px arial black; }

/* line 393, ../../../app/stylesheets/screen.sass */
#item_info { float: left; width: 210px; padding: 0px; padding-top: 2px; padding-left: 10px; margin: 0px; text-align: left; font: normal 0.9em Trebuchet MS; }

/* line 403, ../../../app/stylesheets/screen.sass */
#item_info h3 { padding: 0px; margin: 0px; color: #000; font: bold 1.2em Trebuchet MS; }

/* line 409, ../../../app/stylesheets/screen.sass */
#item_event p { padding: 0px; margin: 0px; }

/* line 413, ../../../app/stylesheets/screen.sass */
#item_event br { line-height: 0px; height: 0px; clear: both; padding: 0px; margin: 0px; }

/* line 420, ../../../app/stylesheets/screen.sass */
#item_contact { display: inline; float: left; margin-right: 0; width: 310px; }
/* line 97, ../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.4/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
* html #item_contact { overflow-x: hidden; }

/* line 423, ../../../app/stylesheets/screen.sass */
#item_contact_title { display: inline; float: left; margin-right: 0; width: 310px; color: #fff; background: url("/images/backgrounds/bg.grunge.tab.png") top left no-repeat transparent; height: 84px; }
/* line 97, ../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.4/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
* html #item_contact_title { overflow-x: hidden; }

/* line 429, ../../../app/stylesheets/screen.sass */
#item_contact_img { display: inline; float: left; margin-right: 10px; width: 110px; }
/* line 97, ../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.4/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
* html #item_contact_img { overflow-x: hidden; }
/* line 431, ../../../app/stylesheets/screen.sass */
#item_contact_img img { margin: 10px; }

/* line 433, ../../../app/stylesheets/screen.sass */
#item_contact_name { display: inline; float: left; margin-right: 0; width: 150px; text-align: right; }
/* line 97, ../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.4/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
* html #item_contact_name { overflow-x: hidden; }
/* line 436, ../../../app/stylesheets/screen.sass */
#item_contact_name h1 { line-height: 24px; color: #fff; font-size: 24px; font-weight: bold; padding: 0px; margin: 0px; }
/* line 443, ../../../app/stylesheets/screen.sass */
#item_contact_name h2 { color: #fff; font-size: 18px; font-weight: normal; padding: 0px; padding-top: 5px; margin: 0px; }

/* line 451, ../../../app/stylesheets/screen.sass */
#item_contact_data { display: inline; float: left; margin-right: 0; width: 310px; margin: 0px; }
/* line 97, ../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.4/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
* html #item_contact_data { overflow-x: hidden; }
/* line 454, ../../../app/stylesheets/screen.sass */
#item_contact_data a { text-decoration: none; }
/* line 456, ../../../app/stylesheets/screen.sass */
#item_contact_data tr { display: inline; float: left; margin-right: 0; width: 310px; }
/* line 97, ../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.4/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
* html #item_contact_data tr { overflow-x: hidden; }
/* line 458, ../../../app/stylesheets/screen.sass */
#item_contact_data th { padding-left: 10px; width: 10px; }

/* line 461, ../../../app/stylesheets/screen.sass */
#item_contact_row { color: #fff; height: 34px; background: url("/images/backgrounds/bg.grunge.tab.item.png") top left no-repeat transparent; }
/* line 463, ../../../app/stylesheets/screen.sass */
#item_contact_row a { color: #fff; }

/* line 467, ../../../app/stylesheets/screen.sass */
#item_contact_row:hover { filter: alpha(opacity=!arg*100); opacity: 0.5; -moz-opacity: 0.5; }

/* line 471, ../../../app/stylesheets/screen.sass */
.ico_title { float: left; margin-right: 20px; }
